/* Base Styles */
body {
  font-family: 'Barlow', sans-serif;
  background-color: #f8f8f5;
  color: #333;
}

/* Navigation */
nav {
  border: 5px solid #f891a0;
}

nav h1 {
  font-family: 'Allura', cursive;
  font-size: 55px;
  color: #f891a0;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #f891a0;
}

nav ul li a:hover {
  color: #c1dee7;
}

/* Header */
header {
  background: url('http://www.etonline.com/sites/default/files/images/2017-05/1280_Once_Hook_Emma_Wedding_02.jpg');
  background-size: cover;
  height: 500px;
}

header .greeting {
  padding: 150px 0px;
}

header h2 {
  font-size: 45px;
  font-family: 'Allura', cursive;
  color: #f8f8f5;
}

header h3 {
  font-size: 35px;
  color: #c1dee7;
  line-height: 52px;
  text-transform: uppercase;
}

/* Story */
#story {
  width: 100%;
  padding: 50px 0;
}

#story h2 {
  font-size: 45px;
  font-family: 'Allura', cursive;
  color: #f891a0;
}

#story img {
  border: 5px solid #f891a0;
}

#story .story-text {
  padding: 50px 0;
}

#story p {
  line-height: 32px;
  font-size: 20px;
}

/* Celebration */
#celebration {
  padding: 80px;
  background-color: #c1dee7;
}

#celebration h2 {
  font-size: 45px;
  font-family: 'Allura', cursive;
}

#celebration h3 {
  font-size: 35px;
  line-height: 52px;
}

/* Location */
#location {
  padding: 50px 0;
}

#location h2 {
  font-family: 'Allura', cursive;
  font-size: 45px;
  color: #f891a0;
  padding-bottom: 15px;
}

#location img {
  height: 350px;
}

#location p {
  font-size: 20px;
  line-height: 32px;
}

/* Info */
#info {
  border: 2px solid #c1dee7;
  padding: 50px 0;
}

#info h3 {
  font-size: 35px;
  font-family: 'Allura', cursive;
  color: #f891a0;
}

#info ul li {
  font-size: 20px;
}

/* Response */
#response {
  padding: 55px 0;
  height: 300px;
}

#response h2 {
  font-size: 45px;
  font-family: 'Allura', cursive;
}

#response h3 {
  font-size: 35px;
  padding-bottom: 15px;
}

/* Footer */
footer {
  padding: 15px;
  font-size: 16px;
}
