/* Base Styles */
body {
  font-family: 'Barlow', sans-serif;
  background-color: #FFFFF0;
}

/* Navigation */
nav {
  border: 5px solid #f891a0;
}

nav h1 {
  font-family: 'Allura', cursive;
  font-size: 55px;
  color: #f891a0;
}

nav ul li {
  display: inline-block;
  list-style: none;
}

nav ul li a {
  text-decoration: none;
  font-size: 20px;
  font-weight: bold;
  color: #f891a0;
}

nav ul li a:hover {
  color: #c1dee7;
}

/* Header */
header {
  background: url('http://www.etonline.com/sites/default/files/images/2017-05/1280_Once_Hook_Emma_Wedding_02.jpg');
  background-size: cover;
  height: 800px;
}

header h2 {
  font-size: 45px;
  font-family: 'Allura', cursive;
}
